<configuration>
    <property name="LOG_PATH" value="logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="UsersFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/users/users.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/users/users.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.gategroup.mantix_api.application.usecases" level="DEBUG" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="UsersFile" />
    </logger>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>